.bg-color-black {
    background-color: #111111;
}
.mt-25 {
    margin-top: 25%;
}
.color-reset {
    color: unset !important;
}
.container-sm {
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.not-found-header {
    color: rgba(0,0,0,.3);
    fill: rgba(0,0,0,.3);
    font-size: 248px;
}

.not-found-subheader, .not-found-description {
    color: #000;
}

.not-found-description {
    max-width: 60%;
}

.take-me-home-btn {
    color: #000;
    font-weight: 600;
    display: block;
    margin-top: 30px;
    text-decoration: underline;
}

.take-me-home-btn:hover {
    color: #000;
}

/* Blog section */

.blog-section {
    padding-top: 80px;
}

.blog-section .card-wrapper {
    display: flex;
    column-gap: 20px;
    margin-top: 44px;
}

.card-wrapper .card {
    width: 100%;
}

.card-wrapper .card h2 {
    text-align: left;
}
.card-wrapper .card h2 a {
    font-size: 16px;
    text-align: left;
    margin-top: 16px;
    font-weight: 600;
}

.view-all-blogs {
    margin-top: 24px;
}
.view-all-blogs a {
    font-size: 16px;
    text-decoration: underline;
    font-weight: 700;
}