
//Font Family

$NeueHaasGrotesDisplayPro: 'Neue Haas Grotesk Display Pro', sans-serif;
//Converter: https://nekocalc.com/px-to-rem-converter
$fontSize_15: 0.938rem;//15px
$fontSize_20: 1.25rem; //20px
$fontSize_24: 24.87px; //24.87px
$fontSize_30: 1.875rem; //30px
$fontSize_45: 2.816rem; //45.06
$fontSize_69: 4.313rem; //69px

$fontWeight_400: 400;
$fontWeight_500: 500;
$fontWeight_700: 600;
                                                
                