$BackgroundColor: #fffae7;
$LightBlue: #2274A5;
$NavyBlue: #223044;
$MainColor: #304056;
$BlueWhite: #CCD6F6;
$DarkBlueWhite: #a8b2d1;
$LightNavyBlue: #3B4861;
$White: #fff;
$GreyNavy: #223044;
$LightNavy: #1D2F4C;

$FontSize199px: 199.6px;
$FontSize76px: 76.24px;
$FontSize47px: 32px;
$FontSize29px: 29.12;
$FontSize18px: 18px;

$FontWeightBold: 700;

$Padding16x32: 16px 32px 16px 32px;
$Padding8x32: 8px 32px 8px 32px;

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;0,700;1,400&display=swap');

*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
body{
    color: $MainColor;
    background-color: $BackgroundColor;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

.Container{
    .NavigationSection{
        nav{
            padding: 35px 0px 35px 0px;
            .Container{
                display: flex;
                justify-content: space-between;
                width: 80%;
                margin: auto;
                align-items: center;
                .LogoContianer{
                    .Logo{
                        cursor: pointer;
                        color: $NavyBlue;
                        font-size: $FontSize47px;
                        font-weight: $FontWeightBold;
                    }
                }
                .Menu{
                    .ResumeButton{
                        padding: $Padding16x32;
                        border: 2px $NavyBlue solid;
                        background-color: transparent !important;
                        color:  $NavyBlue;
                        font-size: $FontSize18px;
                        cursor: pointer;
                        font-weight: $FontWeightBold;
                        transition: ease-out 0.3s;
                        &:hover{
                            box-shadow: inset 174px 0 0 $MainColor;
                            color: $White;
                        }
                    }
                }
            }
        }
    }
    .HeroSection{
        margin-top: 150px;
        main{
            .Container{
                width: 80%;
                margin: auto;
                .SocialMedia{
                    display: flex;
                    flex-direction: column;
                    .Github{
                        width: 24px;
                        height: 24px;
                    }
                    .Line{
                        height: 0px;
                        width: 0px;
                    }
                }
                .Hero{
                    .HeroText{
                        transition-duration: 1s;
                    }
                    .Koffivi{
                        font-size: $FontSize76px;
                        font-weight: $FontWeightBold;
                        color: $NavyBlue;
                    }
                    .Passionate{
                        font-size: $FontSize47px;
                        color: $MainColor;
                        margin-top: 24px;
                    }
                    .Description{
                        margin-top: 24px;
                        width: 60%;
                        line-height: 150%;
                        .LearningBringsJoy{
                            color: $LightBlue;
                        }
                    }
                    .ViewProject{
                        padding: $Padding16x32;
                        border: 2px $NavyBlue solid;
                        background-color: transparent !important;
                        color: $NavyBlue;
                        font-size: $FontSize18px;
                        cursor: pointer;
                        margin-top: 32px;
                        font-weight: $FontWeightBold;
                        transition: ease-out 0.3s;
                        &:hover{
                            box-shadow: inset 174px 0 0 $MainColor;
                            color: $White;
                        }
                    }
                }
                .PassionateText{
                    .Passionate{
                        font-size: $FontSize199px;
                        color: $GreyNavy;
                        position: absolute;
                        transform: rotate(90deg);
                        top: 650px;//used to be 67%
                        left: 48%;
                        transition-duration: 1s;
                    }
                }
            }
        }
    }
    .AboutMe{
        margin-top: 350px;
        transition-duration: 1s;
        .Container{
            width: 80%;
            margin: auto;
            .AboutMeTitle{
                color: $NavyBlue;
                font-size: $FontSize47px;
                font-weight: $FontWeightBold;
            }
            .Wrapper{
                display: flex;
                align-items: center;
            .Information{
                margin-top: 50px;
                width: 45%;
                .FromDenver{
                    color: $LightBlue;
                    font-size: $FontSize29px;
                }
                .Description{
                    margin-top: 24px;
                    width: 100%;
                    line-height: 150%;
                }
                .Skills{
                    display: flex;
                    width: 570px;
                    flex-wrap:wrap;
                    margin-top: 32px;
                    row-gap: 24px;
                    div{
                        padding: $Padding8x32;
                        color: $LightBlue;
                        border: 2.5px $LightBlue solid;
                        margin-right: 24px;
                        box-shadow: -6px 6px 0 $LightBlue;
                    }
                }
            }
            .MyImage{
                margin-left: 60px;
                margin-top: 2em;
                .MeWrapper{
                    width: 210px;
                    &::after{
                        content: " ";
                        display: block;
                        border: 5px $LightBlue solid;
                        right: 100%;
                        width: 290px;
                        height: 283px;
                        box-sizing: inherit;
                        margin-left: 20px;
                        margin-top: 20px;

                        
                    }
                    .Me{
                        position: absolute;
                        margin-top: 30px;
    
                    }
                }
                
            }
        }
        }
    }

    .WorkExperienceSection{
        margin-top: 200px;
        transition-duration: 1s;
        main{
            .Container{
                width: 80%;
                margin: auto;
                display: flex;
                .Timeline{
                    div{
                        border-left: 2px $LightNavy solid;
                        padding: 16px 0px 16px 16px;
                        color: $LightNavy;
                    }
                    .active{
                        border-left: 2px $LightBlue solid;
                        color: $LightBlue;
                    }
                }
                .JobDescription{
                    margin-left: 60px;
                    display: flex;
                    flex-direction: column;
                    .Year2021Description{
                        .Company{
                            color: $NavyBlue;
                        }
                        .DescriptionOne{
                            margin-top: 24px;
                            width: 568px;
                            line-height: 150%;
                        }
                        .DescriptionTwo{
                            margin-top: 24px;
                            width: 568px;
                            line-height: 150%;
                            .highlighted{
                                color: $LightBlue;
                            }
                        }
                    }
                    .ToolsUsed{
                    display: flex;
                    width: 570px;
                    margin-top: 32px;
                    row-gap: 24px;
                    flex-wrap: wrap;
                        div{
                            padding: $Padding8x32;
                            color: $LightBlue;
                            border: 2.5px $LightBlue solid;
                            margin-right: 24px;

                        box-shadow: -6px 6px 0 $LightBlue;
                        }
                    }
                }
                
            }
        }
    }
    .ProjectSection{
        margin-top: 200px;
        transition: ease-out 1s;
        main{
            width: 80%;
            margin: auto;
            .Container{
                width: 100%;
                .ProjectTitle{
                color: $NavyBlue;
                font-size: $FontSize47px;
                font-weight: $FontWeightBold;
                margin-bottom: 50px;
                }
                .ProjectOne, .ProjectTwo{
                    margin-bottom: 80px;
                    display: flex;
                    justify-content: space-between;
                    width: 100%;
                    align-items: center;
                    .ProjectImage{
                        width: 50%;
                        .Image{
                            width: 100%;
                        }
                    }
                    .Information{
                        width: 50%;
                        .TitleLinkWrapper{
                            display: flex;
                            justify-content: space-between;
                            width: 90%;
                            align-items: center;
                        }
                        .ProjectDescriptionOne, .ProjectDescriptionTwo{
                            width: 90%;
                            line-height: 150%;
                            margin-top: 24px;
                        }
                    }
                    .ToolsUsed{
                        display: flex;
                        width: 570px;
                        margin-top: 32px;
                        row-gap: 24px;
                        flex-wrap: wrap;
                        div{
                            padding: $Padding8x32;
                            color: $LightBlue;
                            border: 2.5px $LightBlue solid;
                            margin-right: 24px;
                            box-shadow: -6px 6px 0 $LightBlue;
                        }
                    }
                }
                .ProjectTwo{
                    flex-flow: row-reverse;
                }
                .ProjectOne{
                    .Information{
                        width: 50%;
                        .TitleLinkWrapper{
                            margin-left: 10%;
                        }
                        .ProjectDescriptionOne{
                            margin-left: 10%;
                        }
                    }
                    .ToolsUsed{
                            margin-left: 10%;
                            row-gap: 24px;
                            flex-wrap: wrap;
                    }
                }
            }
        }
    }

    .ContactSection{
        margin-top: 120px;
        padding-bottom: 50px;
        main{
            width: 80%;
            margin: auto;
            .Container{
                width: 100%;
                .GetInTouch{
                    color: $NavyBlue;
                }
                .GetInTouch, .Description, .CallToAction{
                    text-align: center;
                }
                .Description{
                    margin-top: 24px;
                }
                .CallToAction{
                    input{
                        padding: $Padding8x32;
                        border: 2px $LightBlue solid;
                        background-color: transparent !important;
                        color: $LightBlue;
                        font-size: $FontSize18px;
                        cursor: pointer;
                        margin-top: 32px;
                        font-weight: $FontWeightBold;
                        transition: ease-out 0.3s;
                        &:hover{
                            box-shadow: inset 174px 0 0 $MainColor;
                            color: $White;
                            border: 2px $MainColor solid;
                        }
                    }
                    .ContactMe{
                        margin-left: 24px;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 1350px) {
.Container{
    .HeroSection{
        margin-top: 150px;
        main{
            .Container{
                width: 80%;
                margin: auto;
                .PassionateText{
                    display: none;
                }
                .Hero{
                    .Description{
                        margin-top: 24px;
                        width: 70%;
                        min-width: 505px;
                        line-height: 150%;
                    }
                }
            }
        }
    }
}
}
@media only screen and (max-width: 990px){
    .Container{
        .ProjectSection{
            margin-top: 200px;
            transition: ease-out 1s;
            main{
                width: 80%;
                margin: auto;
                .Container{
                    width: 100%;
                    .ProjectTitle{
                    color: $NavyBlue;
                    font-size: $FontSize47px;
                    font-weight: $FontWeightBold;
                    margin-bottom: 50px;
                    }
                    .ProjectOne, .ProjectTwo{
                        margin-top: 80px;
                        display: block;
                        justify-content: space-between;
                        width: 100%;
                        align-items: center;
                        .ProjectImage{
                            width: 100%;
                            .Image{
                                width: 100%;
                            }
                        }
                        .Information{
                            width: 100%;
                            margin-top: 24px;
                            .TitleLinkWrapper{
                                display: flex;
                                justify-content: space-between;
                                width: 100%;
                                align-items: center;
                            }
                            .ProjectDescriptionOne, .ProjectDescriptionTwo{
                                width: 100%;
                                line-height: 150%;
                                margin-top: 24px;
                            }
                        }
                        .ToolsUsed{
                            display: flex;
                            width: 570px;
                            margin-top: 32px;
                            row-gap: 24px;
                            flex-wrap: wrap;
                            div{
                                padding: $Padding8x32;
                                color: $LightBlue;
                                border: 2.5px $LightBlue solid;
                                margin-right: 24px;
                                box-shadow: -6px 6px 0 $LightBlue;
                            }
                        }
                    }
                    .ProjectTwo{
                        flex-flow: row-reverse;
                    }
                    .ProjectOne{
                        .Information{
                            width: 100%;
                            .TitleLinkWrapper{
                                margin-left: 0%;
                            }
                            .ProjectDescriptionOne{
                                margin-left: 0%;
                            }
                        }
                        .ToolsUsed{
                                margin-left: 0%;
                                row-gap: 24px;
                                flex-wrap: wrap;
                        }
                    }
                }
            }
        }
        .AboutMe{
            margin-top: 350px;
            transition: ease-out 1s;
            .Container{
                width: 80%;
                margin: auto;
                .AboutMeTitle{
                    color: $NavyBlue;
                    font-size: $FontSize47px;
                    font-weight: $FontWeightBold;
                    width: 100%;
                }
                .Wrapper{
                    display: flex;
                    flex-direction: column;
                    flex-flow: column-reverse;
                    align-items: center;
                .Information{
                    margin-top: 50px;
                    width: 100%;
                    .FromDenver{
                        color: $LightBlue;
                        font-size: $FontSize29px;
                    }
                    .Description{
                        margin-top: 24px;
                        width: 100%;
                        line-height: 150%;
                    }
                    .Skills{
                        display: flex;
                        width: 570px;
                        flex-wrap:wrap;
                        margin-top: 32px;
                        row-gap: 24px;
                        div{
                            padding: $Padding8x32;
                            color: $LightBlue;
                            border: 2.5px $LightBlue solid;
                            margin-right: 24px;
                            box-shadow: -6px 6px 0 $LightBlue;
                        }
                    }
                }
                .MyImage{
                    width: 100%;
                    margin: auto;
                    margin-top: 2em;
                    .MeWrapper{
                        width: 100%;
                        &::after{
                            display: none;
                        }
                        .Me{
                            width: 100%;
                            position: static;
                            margin-top: 0px;
                            height: 60vh;
        
                        }
                    }
                    
                }
            }
            }
        }
    }
}

//68.24px font