@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;0,700;1,400&display=swap");
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  color: #304056;
  background-color: #fffae7;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}

.Container .NavigationSection nav {
  padding: 35px 0px 35px 0px;
}

.Container .NavigationSection nav .Container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 80%;
  margin: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Container .NavigationSection nav .Container .LogoContianer .Logo {
  cursor: pointer;
  color: #223044;
  font-size: 32px;
  font-weight: 700;
}

.Container .NavigationSection nav .Container .Menu .ResumeButton {
  padding: 16px 32px 16px 32px;
  border: 2px #223044 solid;
  background-color: transparent !important;
  color: #223044;
  font-size: 18px;
  cursor: pointer;
  font-weight: 700;
  -webkit-transition: ease-out 0.3s;
  transition: ease-out 0.3s;
}

.Container .NavigationSection nav .Container .Menu .ResumeButton:hover {
  -webkit-box-shadow: inset 174px 0 0 #304056;
          box-shadow: inset 174px 0 0 #304056;
  color: #fff;
}

.Container .HeroSection {
  margin-top: 150px;
}

.Container .HeroSection main .Container {
  width: 80%;
  margin: auto;
}

.Container .HeroSection main .Container .SocialMedia {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.Container .HeroSection main .Container .SocialMedia .Github {
  width: 24px;
  height: 24px;
}

.Container .HeroSection main .Container .SocialMedia .Line {
  height: 0px;
  width: 0px;
}

.Container .HeroSection main .Container .Hero .Koffivi {
  font-size: 76.24px;
  font-weight: 700;
  color: #223044;
}

.Container .HeroSection main .Container .Hero .Passionate {
  font-size: 32px;
  color: #304056;
  margin-top: 24px;
}

.Container .HeroSection main .Container .Hero .Description {
  margin-top: 24px;
  width: 50%;
  line-height: 150%;
}

.Container .HeroSection main .Container .Hero .Description .LearningBringsJoy {
  color: #2274A5;
}

.Container .HeroSection main .Container .Hero .ViewProject {
  padding: 16px 32px 16px 32px;
  border: 2px #223044 solid;
  background-color: transparent !important;
  color: #223044;
  font-size: 18px;
  cursor: pointer;
  margin-top: 32px;
  font-weight: 700;
  -webkit-transition: ease-out 0.3s;
  transition: ease-out 0.3s;
}

.Container .HeroSection main .Container .Hero .ViewProject:hover {
  -webkit-box-shadow: inset 174px 0 0 #304056;
          box-shadow: inset 174px 0 0 #304056;
  color: #fff;
}

.Container .HeroSection main .Container .PassionateText .Passionate {
  font-size: 199.6px;
  color: #223044;
  position: absolute;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  top: 650px;
  left: 48%;
}

.Container .AboutMe {
  margin-top: 350px;
  -webkit-transition: ease-out 1s;
  transition: ease-out 1s;
}

.Container .AboutMe .Container {
  width: 80%;
  margin: auto;
}

.Container .AboutMe .Container .AboutMeTitle {
  color: #223044;
  font-size: 32px;
  font-weight: 700;
}

.Container .AboutMe .Container .Wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Container .AboutMe .Container .Wrapper .Information {
  margin-top: 50px;
  width: 45%;
}

.Container .AboutMe .Container .Wrapper .Information .FromDenver {
  color: #2274A5;
  font-size: 29.12;
}

.Container .AboutMe .Container .Wrapper .Information .Description {
  margin-top: 24px;
  width: 100%;
  line-height: 150%;
}

.Container .AboutMe .Container .Wrapper .Information .Skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 570px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 32px;
  row-gap: 24px;
}

.Container .AboutMe .Container .Wrapper .Information .Skills div {
  padding: 8px 32px 8px 32px;
  color: #2274A5;
  border: 1px #2274A5 solid;
  margin-right: 24px;
  -webkit-box-shadow: -5px 5px 0 #2274A5;
          box-shadow: -5px 5px 0 #2274A5;
}

.Container .AboutMe .Container .Wrapper .MyImage {
  margin-left: 60px;
  margin-top: 2em;
}

.Container .AboutMe .Container .Wrapper .MyImage .MeWrapper {
  width: 210px;
}

.Container .AboutMe .Container .Wrapper .MyImage .MeWrapper::after {
  content: " ";
  display: block;
  border: 5px #2274A5 solid;
  right: 100%;
  width: 290px;
  height: 283px;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin-left: 20px;
  margin-top: 20px;
}

.Container .AboutMe .Container .Wrapper .MyImage .MeWrapper .Me {
  position: absolute;
  margin-top: 30px;
}

.Container .WorkExperienceSection {
  margin-top: 200px;
  -webkit-transition: ease-out 1s;
  transition: ease-out 1s;
}

.Container .WorkExperienceSection main .Container {
  width: 80%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.Container .WorkExperienceSection main .Container .Timeline div {
  border-left: 2px #1D2F4C solid;
  padding: 16px 0px 16px 16px;
  color: #1D2F4C;
}

.Container .WorkExperienceSection main .Container .Timeline .active {
  border-left: 2px #2274A5 solid;
  color: #2274A5;
}

.Container .WorkExperienceSection main .Container .JobDescription {
  margin-left: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.Container .WorkExperienceSection main .Container .JobDescription .Year2021Description .Company {
  color: #223044;
}

.Container .WorkExperienceSection main .Container .JobDescription .Year2021Description .DescriptionOne {
  margin-top: 24px;
  width: 568px;
  line-height: 150%;
}

.Container .WorkExperienceSection main .Container .JobDescription .Year2021Description .DescriptionTwo {
  margin-top: 24px;
  width: 568px;
  line-height: 150%;
}

.Container .WorkExperienceSection main .Container .JobDescription .Year2021Description .DescriptionTwo .highlighted {
  color: #2274A5;
}

.Container .WorkExperienceSection main .Container .JobDescription .ToolsUsed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 570px;
  margin-top: 32px;
}

.Container .WorkExperienceSection main .Container .JobDescription .ToolsUsed div {
  padding: 8px 32px 8px 32px;
  color: #2274A5;
  border: 1px #2274A5 solid;
  margin-right: 24px;
  -webkit-box-shadow: -5px 5px 0 #2274A5;
          box-shadow: -5px 5px 0 #2274A5;
}

.Container .ProjectSection {
  margin-top: 200px;
  -webkit-transition: ease-out 1s;
  transition: ease-out 1s;
}

.Container .ProjectSection main {
  width: 80%;
  margin: auto;
}

.Container .ProjectSection main .Container {
  width: 100%;
}

.Container .ProjectSection main .Container .ProjectTitle {
  color: #223044;
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 50px;
}

.Container .ProjectSection main .Container .ProjectOne, .Container .ProjectSection main .Container .ProjectTwo {
  margin-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Container .ProjectSection main .Container .ProjectOne .ProjectImage, .Container .ProjectSection main .Container .ProjectTwo .ProjectImage {
  width: 50%;
}

.Container .ProjectSection main .Container .ProjectOne .ProjectImage .Image, .Container .ProjectSection main .Container .ProjectTwo .ProjectImage .Image {
  width: 100%;
}

.Container .ProjectSection main .Container .ProjectOne .Information, .Container .ProjectSection main .Container .ProjectTwo .Information {
  width: 50%;
}

.Container .ProjectSection main .Container .ProjectOne .Information .TitleLinkWrapper, .Container .ProjectSection main .Container .ProjectTwo .Information .TitleLinkWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 90%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Container .ProjectSection main .Container .ProjectOne .Information .ProjectDescriptionOne, .Container .ProjectSection main .Container .ProjectOne .Information .ProjectDescriptionTwo, .Container .ProjectSection main .Container .ProjectTwo .Information .ProjectDescriptionOne, .Container .ProjectSection main .Container .ProjectTwo .Information .ProjectDescriptionTwo {
  width: 90%;
  line-height: 150%;
  margin-top: 24px;
}

.Container .ProjectSection main .Container .ProjectOne .ToolsUsed, .Container .ProjectSection main .Container .ProjectTwo .ToolsUsed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 570px;
  margin-top: 32px;
}

.Container .ProjectSection main .Container .ProjectOne .ToolsUsed div, .Container .ProjectSection main .Container .ProjectTwo .ToolsUsed div {
  padding: 8px 32px 8px 32px;
  color: #2274A5;
  border: 1px #2274A5 solid;
  margin-right: 24px;
  -webkit-box-shadow: -5px 5px 0 #2274A5;
          box-shadow: -5px 5px 0 #2274A5;
}

.Container .ProjectSection main .Container .ProjectTwo {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-flow: row-reverse;
          flex-flow: row-reverse;
}

.Container .ProjectSection main .Container .ProjectOne .Information {
  width: 50%;
}

.Container .ProjectSection main .Container .ProjectOne .Information .TitleLinkWrapper {
  margin-left: 10%;
}

.Container .ProjectSection main .Container .ProjectOne .Information .ProjectDescriptionOne {
  margin-left: 10%;
}

.Container .ProjectSection main .Container .ProjectOne .ToolsUsed {
  margin-left: 10%;
}

.Container .ContactSection {
  margin-top: 120px;
  padding-bottom: 50px;
}

.Container .ContactSection main {
  width: 80%;
  margin: auto;
}

.Container .ContactSection main .Container {
  width: 100%;
}

.Container .ContactSection main .Container .GetInTouch {
  color: #223044;
}

.Container .ContactSection main .Container .GetInTouch, .Container .ContactSection main .Container .Description, .Container .ContactSection main .Container .CallToAction {
  text-align: center;
}

.Container .ContactSection main .Container .Description {
  margin-top: 24px;
}

.Container .ContactSection main .Container .CallToAction input {
  padding: 8px 32px 8px 32px;
  border: 2px #2274A5 solid;
  background-color: transparent !important;
  color: #2274A5;
  font-size: 18px;
  cursor: pointer;
  margin-top: 32px;
  font-weight: 700;
  -webkit-transition: ease-out 0.3s;
  transition: ease-out 0.3s;
}

.Container .ContactSection main .Container .CallToAction input:hover {
  -webkit-box-shadow: inset 174px 0 0 #304056;
          box-shadow: inset 174px 0 0 #304056;
  color: #fff;
}

.Container .ContactSection main .Container .CallToAction .ContactMe {
  margin-left: 24px;
}

@media only screen and (max-width: 1350px) {
  .Container .HeroSection {
    margin-top: 150px;
  }
  .Container .HeroSection main .Container {
    width: 80%;
    margin: auto;
  }
  .Container .HeroSection main .Container .PassionateText {
    display: none;
  }
  .Container .HeroSection main .Container .Hero .Description {
    margin-top: 24px;
    width: 70%;
    min-width: 505px;
    line-height: 150%;
  }
}

@media only screen and (max-width: 990px) {
  .Container .ProjectSection {
    margin-top: 200px;
    -webkit-transition: ease-out 1s;
    transition: ease-out 1s;
  }
  .Container .ProjectSection main {
    width: 80%;
    margin: auto;
  }
  .Container .ProjectSection main .Container {
    width: 100%;
  }
  .Container .ProjectSection main .Container .ProjectTitle {
    color: #223044;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 50px;
  }
  .Container .ProjectSection main .Container .ProjectOne, .Container .ProjectSection main .Container .ProjectTwo {
    margin-top: 80px;
    display: block;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .Container .ProjectSection main .Container .ProjectOne .ProjectImage, .Container .ProjectSection main .Container .ProjectTwo .ProjectImage {
    width: 100%;
  }
  .Container .ProjectSection main .Container .ProjectOne .ProjectImage .Image, .Container .ProjectSection main .Container .ProjectTwo .ProjectImage .Image {
    width: 100%;
  }
  .Container .ProjectSection main .Container .ProjectOne .Information, .Container .ProjectSection main .Container .ProjectTwo .Information {
    width: 100%;
    margin-top: 24px;
  }
  .Container .ProjectSection main .Container .ProjectOne .Information .TitleLinkWrapper, .Container .ProjectSection main .Container .ProjectTwo .Information .TitleLinkWrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .Container .ProjectSection main .Container .ProjectOne .Information .ProjectDescriptionOne, .Container .ProjectSection main .Container .ProjectOne .Information .ProjectDescriptionTwo, .Container .ProjectSection main .Container .ProjectTwo .Information .ProjectDescriptionOne, .Container .ProjectSection main .Container .ProjectTwo .Information .ProjectDescriptionTwo {
    width: 100%;
    line-height: 150%;
    margin-top: 24px;
  }
  .Container .ProjectSection main .Container .ProjectOne .ToolsUsed, .Container .ProjectSection main .Container .ProjectTwo .ToolsUsed {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 570px;
    margin-top: 32px;
  }
  .Container .ProjectSection main .Container .ProjectOne .ToolsUsed div, .Container .ProjectSection main .Container .ProjectTwo .ToolsUsed div {
    padding: 8px 32px 8px 32px;
    color: #2274A5;
    border: 1px #2274A5 solid;
    margin-right: 24px;
    -webkit-box-shadow: -5px 5px 0 #2274A5;
            box-shadow: -5px 5px 0 #2274A5;
  }
  .Container .ProjectSection main .Container .ProjectTwo {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-flow: row-reverse;
            flex-flow: row-reverse;
  }
  .Container .ProjectSection main .Container .ProjectOne .Information {
    width: 100%;
  }
  .Container .ProjectSection main .Container .ProjectOne .Information .TitleLinkWrapper {
    margin-left: 0%;
  }
  .Container .ProjectSection main .Container .ProjectOne .Information .ProjectDescriptionOne {
    margin-left: 0%;
  }
  .Container .ProjectSection main .Container .ProjectOne .ToolsUsed {
    margin-left: 0%;
  }
  .Container .AboutMe {
    margin-top: 350px;
    -webkit-transition: ease-out 1s;
    transition: ease-out 1s;
  }
  .Container .AboutMe .Container {
    width: 80%;
    margin: auto;
  }
  .Container .AboutMe .Container .AboutMeTitle {
    color: #223044;
    font-size: 32px;
    font-weight: 700;
    width: 100%;
  }
  .Container .AboutMe .Container .Wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-flow: column-reverse;
        flex-flow: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .Container .AboutMe .Container .Wrapper .Information {
    margin-top: 50px;
    width: 100%;
  }
  .Container .AboutMe .Container .Wrapper .Information .FromDenver {
    color: #2274A5;
    font-size: 29.12;
  }
  .Container .AboutMe .Container .Wrapper .Information .Description {
    margin-top: 24px;
    width: 100%;
    line-height: 150%;
  }
  .Container .AboutMe .Container .Wrapper .Information .Skills {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 570px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 32px;
    row-gap: 24px;
  }
  .Container .AboutMe .Container .Wrapper .Information .Skills div {
    padding: 8px 32px 8px 32px;
    color: #2274A5;
    border: 1px #2274A5 solid;
    margin-right: 24px;
    -webkit-box-shadow: -5px 5px 0 #2274A5;
            box-shadow: -5px 5px 0 #2274A5;
  }
  .Container .AboutMe .Container .Wrapper .MyImage {
    width: 100%;
    margin: auto;
    margin-top: 2em;
  }
  .Container .AboutMe .Container .Wrapper .MyImage .MeWrapper {
    width: 100%;
  }
  .Container .AboutMe .Container .Wrapper .MyImage .MeWrapper::after {
    display: none;
  }
  .Container .AboutMe .Container .Wrapper .MyImage .MeWrapper .Me {
    width: 100%;
    position: static;
    margin-top: 0px;
    height: 60vh;
  }
}
/*# sourceMappingURL=Style.css.map */